{{#if @blog.cover}}
<section id="hero" class="error-hero color-bg image-bg light-font" style="background-image: url({{@blog.cover}});">
{{else}}
<section id="hero" class="error-hero gradient-bg light-font">
{{/if}}
	<div class="hero-content">
		<div class="container">
			<h1 class="hero-title">Awww, that {{code}} error!</h1>
			<p class="intro">{{message}}<br>
			Go to <a href="{{@blog.url}}">home page</a>?</p>
		</div>
	</div>
</section>