<article class="{{post_class}}">
	<header class="post-header">
		<h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>

		<div class="post-info">{{#if featured}}<i class="fa fa-star"></i>{{/if}}<time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="MMM DD, YYYY"}}</time> {{#author}}<span>by</span> <a href="{{url}}" title="{{name}}">{{name}}</a>{{/author}} {{#if tags}}&bull; {{tags}}{{/if}}</div>
	</header>

	{{#if image}}
	<figure class="post-thumbnail gradient-bg">
		<a href="{{url}}" title="{{title}}"><img src="{{image}}" alt="{{title}}" class="mono"></a>
		<figcaption>
			<span class="read"><a href="{{url}}" title="{{title}}"><i class="fa fa-align-left"></i></a></span>
		</figcaption>
	</figure>
	{{/if}}

	<div class="post-content post-excerpt">
		<p>{{excerpt}}&hellip;</p>

		<p><a href="{{url}}" title="{{title}}" class="read-more">Read more</a></p>
	</div>
</article>