{{#author}}

{{#if cover}}
<section id="hero" class="color-bg image-bg light-font" style="background-image: url({{cover}});">
{{else}}
<section id="hero" class="gradient-bg light-font">
{{/if}}
	<div class="hero-content">
		<div class="container">
			<h3 class="hero-title">By {{name}}</h3>
			{{#if bio}}
			<p class="intro">{{bio}} {{#if website}}<a href="{{website}}" title="{{name}}" target="_blank"><i class="fa fa-external-link"></i></a>{{/if}}</p>
			{{/if}}
		</div>
	</div>
</section>

{{/author}}